@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.abc {
    display: flex;
    width: 89vw;
    

}

.pqr {
    background-size:auto 100%;
    background-position: center;
    margin: 9px;
    position: relative;
    border-radius: 45px;
    height: 70vh;
    transition: flex 0.9s ease-in;
    flex: 0.7;
    background-repeat: no-repeat;
    color:black;
    cursor: pointer;

}

.pqr h3 {

    left: 20px;
    bottom: 20px;
    position: absolute;
    opacity: 0;
    margin: 0%;
    font-size: 22px;

}

.pqr.active {
    flex: 9;

}

.pqr.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width : 591px) {
    .abc {
        width: 100vw;
    }
    
}
